$blue: #5ccded;
$royal: #288de0;
$red: #ff866b;
$pure: #f9fafc;
$white: #f2f4f7;
$light: #c0c5ce;
$gray: #888f99;
$dark: #626972;
$deep: #30343a;
$blueshadow: 0 3px 10px rgba($royal, 0.2);
$darkshadow: 0 3px 10px rgba($dark, 0.2);

.form {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    background-color: $pure;
    box-shadow: $darkshadow;
    border-radius: 6px;

    > div {
        width: 100%;
    }
}

.invalid {
    color: $red;
    border-color: $red;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.error {
    padding: 0.3rem 0.5rem;
    position: absolute;
    top: 100%;
    width: 100%;
    color: $deep;
    background-color: $red;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    span {
        display: inline-block;
        margin-left: 0.3em;
        &:first-child {
            margin-left: 0;
        }
    }
}

.input-container {
    position: relative;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: $dark;
    margin: 2rem 0 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.7rem;
    font-size: 20px;
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid $light;
    color: $dark;

    &:hover,
    &:focus {
        outline: none;
        border-color: $blue;
        box-shadow: $blueshadow;
    }
}

button {
    margin: 4rem auto 1rem auto;
    padding: 0.7rem 1rem;
    font-size: 20px;
    font-weight: 300;
    background-color: $blue;
    color: $deep;
    border: none;
    min-width: 150px;
    border-radius: 4px;
    cursor: pointer;

    &[disabled] {
        cursor: initial;
        color: $gray;
        background-color: $light;
        box-shadow: none;
        &:hover,
        &:focus {
            color: $gray;
            background-color: $light;
            box-shadow: none;
        }
    }

    &:hover,
    &:focus {
        outline: none;
        background-color: lighten($blue, 5%);
        box-shadow: $blueshadow;
    }
}

$checkbox-checked-color: $blue;
$checkbox-border-color: $light;
$checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$checkbox-size: 1.8em;
$checkbox-padding: 0.5em;
$checkbox-border-width: 1px;
$checkbox-border-radius: 3px;
$checkmark-width: 1px;
$checkmark-color: $deep;
$checkbox-label-padding: 0.75em;
//
.input-checkbox {
    position: relative;
    margin: 2em 0;
    text-align: left;

    label {
        cursor: pointer;
        display: inline;
        line-height: $checkbox-size;
        vertical-align: top;
        clear: both;
        padding-left: 1px;
        &:not(:empty) {
            padding-left: $checkbox-label-padding;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
        }

        &:before {
            // box
            width: $checkbox-size;
            height: $checkbox-size;
            background: #fff;
            border: $checkbox-border-width solid $checkbox-border-color;
            border-radius: $checkbox-border-radius;
            cursor: pointer;
            transition: background 0.3s;
        }

        &:hover:before,
        &:focus:before {
            border-color: $blue;
            box-shadow: $blueshadow;
        }

        &:after {
            // checkmark
        }
    }

    input[type='checkbox'] {
        outline: 0;
        visibility: hidden;
        width: $checkbox-size;
        margin: 0;
        display: block;
        float: left;
        font-size: inherit;

        &:checked {
            + label:before {
                background: $checkbox-checked-color;
                border: none;
            }
            + label:after {
                $checkmark-size: $checkbox-size - 2 * $checkbox-padding;

                transform: translate(
                        $checkbox-padding,
                        ($checkbox-size / 2) - ($checkmark-size / 2.6)
                    )
                    rotate(-45deg);
                width: $checkmark-size;
                height: $checkmark-size / 2;

                border: $checkmark-width solid $checkmark-color;
                border-top-style: none;
                border-right-style: none;
            }
        }

        &:disabled {
            + label:before {
                border-color: $checkbox-border-color-disabled;
            }
            &:checked {
                + label:before {
                    background: $checkbox-checked-color-disabled;
                }
            }
        }
    }
}
